<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <title>Shanghai Metro</title>
</head>
<body>
<h1>Shanghai Metro</h1>
<h2>Trip</h2>
<ul>
    <li>Trip list</li>
</ul>
<h2>Train</h2>
<ul>
    <li><a href="{%url 'shanghaimetro:train'%}">Train list</a></li>
    <li>Train type list</li>
</ul>
</body>
</html>